.hero {
  background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/4272479-programacao-codigo-codificacao-ou-hacker-fundo-programacao-codigo-icone-feito-com-codigo-binario-digital-dados-binarios-e-streaming-codigo-digital-matriz-fundo-com-digitos-1-ilustracaoial-0-vetor.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.hero p {
  font-size: 1.5rem;
  margin: 20px 0 0 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* Separador */

/* Secao dO Cabeçalho */

header {
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  display: flex;
}

nav li {
  margin: 0 10px;
}
/* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #666;
}
